In [1]:
import pandas as pd

In [2]:
imdb_df = pd.read_csv('./SampleDatasets/dataset_q2.csv',header = 0,names= ('Title','Review'))

In [3]:
imdb_df.head()

                     Title  Review
0           The Rising Son    1990
1  The Thousand Plane Raid    1969
2   The Spider and the Fly    1949
3                  Country    2000
4          The Golden Note    2017

In [4]:
def count_vowels(x):
    """
    Count the number of vowels in a given string.

    Parameters:
    x (str): The string in which to count vowels.

    Returns:
    int: The number of vowels found in the string.
    
    The function is case-insensitive and considers 'A', 'E', 'I', 'O', 'U' as vowels.
    """
    vowels='AEIOU'
    count = 0
    x = str(x)
    for i in x.upper():
        if i in vowels:
            count+=1
    return count

In [5]:
imdb_df['Vowels'] = imdb_df['Title'].apply(count_vowels)

In [6]:
imdb_df.head(10)

                            Title  Review  Vowels
0                  The Rising Son    1990       4
1         The Thousand Plane Raid    1969       8
2          The Spider and the Fly    1949       5
3                         Country    2000       2
4                 The Golden Note    2017       5
5                 Huang jia ni gu    1990       6
6                      Gaiking II    2011       5
7                     Medusa (IV)    2015       4
8  The Fresh Air Will Do You Good    2008      10
9              Alex in Wonderland    1970       6